#titleTab {
  background-color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
}

.card-img-top {
  width: 100%;
}

#links {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
}

#contentTitle {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
}

#footer {
  border-top: 8px solid #4aaaa5;
}
