.skillsBackground {
  padding: 2rem;
  background-color: black;
  z-index: 0;
  margin-bottom: 2rem;
}

.skillsHeader {
  padding: 0.5rem;
}

.iconWrapper {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  background-color: #fbfbfb;
  width: 95px;
  margin-bottom: 0.5rem;
}

.panelWrapper {
  position: relative;
  top: -35px;
}

.toolsPanel {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.skillsPanel {
  /*  */
}

.skillsList {
  list-style-type: none;
  padding-top: 0.25rem;
  padding-left: 0;
  padding-right: 0;
}

.skillsList > li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.skillsCard {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
}

.skillsCardLight {
  background-color: #fbfbfb;
  color: black;
}

.skillsCardDark {
  /* background-color: #262626; */
  background: rgb(38, 38, 38);
  background: linear-gradient(
    90deg,
    rgba(38, 38, 38, 1) 2.5%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(38, 38, 38, 1) 98.5%
  );
  background-size: fill;
  color: #fbfbfb;
}
