.contactPanel {
  background: rgb(38, 38, 38);
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-top: 100px;
}

.formWrapper {
  border: #000000;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 10px;
  background-color: #fbfbfb;
  padding: 0.15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
