/* Full Screen Video Styling */

html,
body,
header,
.scr-view {
  height: 100%;
}

@media (max-width: 559px) {
  html,
  body,
  header,
  .scr-view {
    height: 1000px;
  }
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .scr-view {
    height: 700px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}

/* Typography */

.bio-text {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
  font-size: 24px;
}

/* ./ Typography */

/* Filter Nav tabs */

.nav-link.nav-filter {
  color: #1c2331;
}

.nav-link.nav-filter.active {
  background-color: #1c2331;
}

.border-strong {
  border-width: 2px !important;
}

/* ./ Filter Nav tabs */
