/* Full Screen Video Styling */

html,
body,
header,
.scr-view {
  height: 100%;
}

@media (max-width: 559px) {
  html,
  body,
  header,
  .scr-view {
    height: 1000px;
  }
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .scr-view {
    height: 700px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}

/* Typography */

.bio-text {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
  font-size: 24px;
}

/* ./ Typography */

/* Filter Nav tabs */

.nav-link.nav-filter {
  color: #1c2331;
  padding: 0.25rem;
}

.nav-link.nav-filter.active {
  background-color: #1c2331;
}

.border-strong {
  border-width: 2px !important;
}

.filter-text {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* ./ Filter Nav tabs */

.git-link {
  padding-right: 1rem !important;

  padding-left: 1rem !important;
}

.btn-project {
  font-weight: bold;
  letter-spacing: 0.5px;
}

/* Horizontal Chart styling */
.progress {
  border-radius: 0;
}

.border-custom {
  border-width: thick !important;
}

/*  */
