.projectCard {
  padding: 0.5rem;
  margin: 1.25rem 0.25rem 1.25rem 0.25rem;
}

@media (max-width: 768px) {
  .projectCard {
    /* border: #000000;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 5px; */
  }
}
