.projectCard {
  padding: 0.5rem;
  margin-top: 75px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media (max-width: 768px) {
  .projectCard {
    margin-top: 55px;
  }
}

.slideAnimation {
  opacity: 0;
  transform: translateX(-20px);
}
