.skillsBackground {
  padding: 2rem;
  background-color: black;
  z-index: 0;
  margin-bottom: 2rem;
}

.skillsHeader {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skillsWrapper {
}

/* TO DO: responsiveness for desktop */

.introText {
  color: rgb(143, 143, 143);
}
