html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* * {
  box-sizing: border-box;
} */

/* Navbar Styling */

.top-nav-collapse {
  background-color: black !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black !important;
  }
}

/* ./Navbar Styling */

.active-tab {
  background-color: #262626 !important;
  color: azure !important;
}

/* ANIMATIONS */
.slideAnimation {
  transform: translateX(-50px);
  opacity: 0;
}

.slideIn {
  animation: slide 1s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  20% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* ANIMATIONS - END - */
